.THIS.filec {
            margin-left: 5px;
            position: relative;
            display: inline-block;
            background: #D0EEFF;
            border: 1px solid #99D3F5;
            border-radius: 4px;
            padding: 4px 12px;
            overflow: hidden;
            color: #1E88C7;
            text-decoration: none;
            text-indent: 0;
            line-height: 20px;
        }
        .THIS.filec input {
            position: absolute;
            font-size: 100px;
            right: 0;
            top: 0;
            opacity: 0;
        }
        .THIS.filec:hover {
            background: #AADFFD;
            border-color: #78C3F3;
            color: #004974;
            text-decoration: none;
        }


.THIS{
}
.THIS .spinnerContainer{
    margin: auto;
    margin-right: 10px;
	display: inline-block;
}
.THIS .slds-card__body{
    background-color: #fff;
    padding: 10px 0;
}
.THIS .image-container{
    display: inline-block;
    margin: 5px 0px 15px 1%;
    background-color: #fff;
    box-sizing: border-box;
    width: 100%;
    /*max-width: 400px;*/
    min-width: 180px;
    font-size: .8125rem;
    text-align: center;
    vertical-align: top;
    position: relative;
    float:left;
}
.THIS .image, .THIS .iconImage{
    border: 1px solid #d8dde6;
    border-radius: 4px;
    padding: 6px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    height: 50px;
}
.THIS .iconImage svg{
    width: 100%;
    height: 100%;
}
.THIS .showPreviewButton, .THIS .deleteIcon{
    opacity: .5;
    position: absolute;
    top: .7rem;
    right: .7rem;
    z-index: 1;
    margin-left: -61px;
}
.THIS .thumbnailImage{
    max-width: 30px;
}
.THIS .dndTarget{
    border: 3px dashed #999;
    border-radius: 5px;
    padding: 3px 1%;
}
.THIS .errorTarget{
    border: 3px dashed #ff4a4a;
    border-radius: 5px;
    padding: 3px 1%;
}
.THIS .dndTargetNew{
    width: 240px;
    height: 120px;
    line-height: 38px;
    border: 3px dashed #999;
    border-radius: 5px;
    display: inline-block;
   	margin-left: 7px;
    text-align: center;
    padding: 38px;
    font-size: 50px;
    color: #999;
    background-color: #efefef;
}
.THIS .deleteIcon{
    top: 3px;
    right: 3px;
    font-size: 50px;
    position: absolute;
}
.THIS .dndTarget .image, .THIS .dndTarget .iconImage{
    margin-bottom: 2px;
}
.THIS .overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
	z-index: 2;
    position: absolute;
    top: 0;
}
.THIS .undoDeleteIcon{
	z-index: 3;    
    width: 16%;
    height: 20%;
    top: 40%;
    left: 0%;
    color: #ddd;
    background-color: rgba(0, 0, 0, 0.7); 
    margin-left: -61px;
}
.THIS .relative{
    display: inline-block;
    position: relative;
    width: 98%;
}

.THIS .slds-p-around--small{
    padding: .1rem 0rem;
    padding-right: 0.5rem;
}
.THIS input.myinput{
    line-height: 1.6rem;
    min-height: 1.6rem;
}